@page "/"

<h1>Hello, world!</h1>

<h2>Universal Source Code Engineering Software Solutions at Light Speed!</h2>
@*<button type="button" class="btn btn-info text-light btn-sm btn-block">
    <h2><a href="Https://www.universalsourcecode1.com">Universal Source Code</a></h2>
</button>*@

<a href="#" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Universal Source Code</a>
@*<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>*@
